@{
    Layout = "Admin/_Layout";
}
@model Pizza

@if(Model == null)
{
    <h2>Nessuna Pizza in questa pagina!!</h2>
}
else
{
    @*CARD PIZZA*@
    <div class="row">
        <div class="col">
            <div class="card shadow-sm">
                <img src="@Model.ImagePath" class="card-img-top object-fit-cover"  height="400" role="img" focusable="false" alt="La vera Pizza" />
                <div class="card-body">
                    <h3 class="card-text">@Model.Name</h3>
                    <p class="card-text">@Model.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group ">
                            <a class="text-decoration-none text-reset" href="@Url.Action("Update","Pizza", new{id=Model.Id})">
                                <button type="button" class="btn text-dark btn-warning btn-sm btn-outline-secondary">MODIFICA</button>
                            </a>                                <div>
                                <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn text-light btn-danger btn-sm btn-outline-secondary">ELIMINA</button>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                        Prezzo: @Model.Price€
                    </div>
                    <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                        @if(Model.Category == null)
                        {
                            <span>Categoria: Nessuna categoria assegnata</span>
                        }
                        else
                        {
                            <span>Categoria: @Model.Category.Name</span>
                        }
                    </div>
                    <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                        <div>Ingredienti:</div>
                        @if (Model.Ingredients == null || Model.Ingredients.Count() <= 0)
                        {
                            <span>Nessun ingrediente</span>
                        }
                        else
                        {
                            <h5></h5>
                            <ul class="list-unstyled">
                                @foreach (Ingredient ingredient in Model.Ingredients)
                                {
                                    <li>- @ingredient.Name</li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

