@{
    Layout = "User/_Layout";
}



@*CARDS*@
<div class="album py-5 bg-body-tertiary">
   
    <div class="row my-3">
        <div class="col-12 mt-2">
            <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasManagePizza" aria-controls="offcanvasManagePizza">
                CARRELLO
            </button>
                @if (User.IsInRole("ADMIN"))
                {
                    <a class="navbar-brand" href="@Url.Action("Index","Pizza")">
                        <button class="btn btn-primary">Gestione Pizze</button>
                    </a>
                }
        </div>
    </div>

    @* BARRA RICERCA *@
    <div class="row mt-3 mb-1">
        <h2 class="col-12">Cerca la pizza per nome</h2>
    </div>
    <div class="row mb-3 mt-1 ms-1">
        <input id="search-bar" type="text" class="col-3" />
    </div>

    @* AVVISI *@
    <div class="row my-3">
        @* NO PIZZE *@
        <div id="no-pizzas-message" class="col">
            <h2 class="d-none">Nessuna Pizza in Pizzeria, sono quasi pronte....</h2>
        </div>
        @* SPINNER LOADING *@
        <div id="spinner" class="col">
            <div  class="spinner-border" role="status"></div>
        </div>
     </div>

     @* CARD CONTAINER *@
    <div id="my-card-container" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
    </div>
</div>


@* Codice JS per chiamate API *@
@section Scripts{
    <script type="text/javascript">
        const cardContainer = document.getElementById("my-card-container");
        const spinner = document.getElementById("spinner");
        const noPizzasMessage = document.getElementById("no-pizzas-message");
        getPizzas();
        function getPizzas() {

            axios.get("/api/PizzaAPI/GetPizzas").then((response) => {
                console.log(response.data);
                const pizzas = response.data;
                if (pizzas == null||pizzas.length == 0) {
                    spinner.classList.add("d-none");
                    noPizzasMessage.classList.remove("d-none");
                } else {
                    spinner.classList.add("d-none");
                    pizzas.forEach(pizza => {
                        cardContainer.innerHTML +=
                        `
                            <div class="col">
                                <div class="card shadow-sm">
                                    <img src="${pizza.imagePath}" class="card-img-top object-fit-cover" height="225" role="img" focusable="false" alt="immagine ${pizza.name}" />
                                    <div class="card-body">
                                        <h3 class="card-text">${pizza.name}</h3>
                                        <p class="card-text">${pizza.description}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group ">
                                                <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                                <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                            </div>
                                        </div>
                                        <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                            Prezzo: ${pizza.price}€
                                        </div>
                                    </div>
                                </div>
                            </div>
                         `
                    });
                    
                }
            });
        }
    
    
    </script>
}




@* VERSIONE MVC *@
@* @model List<Pizza>
@if(Model.Count == 0)
{
    <h2>Nessuna Pizza in Pizzeria, sono quasi pronte....</h2>
}
else
{
    <div class="album py-5 bg-body-tertiary">
   
        <div class="row my-3">
            <div class="col-12 mt-2">
                <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasManagePizza" aria-controls="offcanvasManagePizza">
                    CARRELLO
                </button>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <a class="navbar-brand" href="@Url.Action("Index","Pizza")">
                            <button class="btn btn-primary">Gestione Pizze</button>
                        </a>
                    }
            </div>
        </div>

        <div id="my-card-container" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            @foreach(Pizza pizza in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="@pizza.ImagePath" class="card-img-top object-fit-cover" height="225" role="img" focusable="false" alt="immagine @pizza.name" />
                        <div class="card-body">
                            <h3 class="card-text">@pizza.Name</h3>
                            <p class="card-text">@pizza.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group ">
                                    <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                    <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                </div>
                            </div>
                            <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                Prezzo: @pizza.Price€
                            </div>
                        </div>
                    </div>
                </div>
            }
             
        


        </div>
    </div>
}
 *@