@{
    Layout = "User/_Layout";
}
@model List<Pizza>
@if(Model.Count == 0)
{
    <h2>Nessuna Pizza in Pizzeria, sono quasi pronte....</h2>
}
else
{
    @*CARDS*@
    <div class="album py-5 bg-body-tertiary">
   
        <div class="row my-3">
            <div class="col-12 mt-2">
                <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasManagePizza" aria-controls="offcanvasManagePizza">
                    CARRELLO
                </button>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <a class="navbar-brand" href="@Url.Action("Index","Pizza")">
                            <button class="btn btn-primary">Gestione Pizze</button>
                        </a>
                    }
            </div>
        </div>

        <div id="my-card-container" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @*MODELLO DI CARD IN LAVORAZIONE con ASP-NET*@
            @*
            @foreach(Pizza pizza in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="@pizza.ImagePath" class="card-img-top object-fit-cover" height="225" role="img" focusable="false" alt="La vera Pizza" />
                        <div class="card-body">
                            <h3 class="card-text">@pizza.Name</h3>
                            <p class="card-text">@pizza.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group ">
                                    <button type="button" class="btn text-light btn-primary btn-sm btn-outline-primary">+</button>
                                    <button type="button" class="btn text-light btn-danger btn-sm btn-outline-secondary">-</button>
                                </div>
                            </div>
                            <div class="card-item fw-semibold pt-2 text-body-secondary bg-white px-0">
                                Prezzo: @pizza.Price€
                            </div>
                        </div>
                    </div>
                </div>
            }
            *@    
        


        </div>
    </div>
}

@* Codice JS per chiamate API *@
@section MyScripts{
    <script type="text/javascript">
        const cardContainer = document.getElementById("my-card-container");
        getPizzas();
        function getPizzas() {

            axios.get("/api/PizzaAPI/GetPizzas").then((response) => {
                console.log(response);
            });
        }
    
    
    </script>

}